# This .env file is used to set environment variables for the Bacen IFData Scraper project.
# It includes paths to the silver and gold databases, as well as settings
# for Python encoding to ensure proper handling of UTF-8 characters.

# Provide the paths to your silver and gold databases, and set the necessary environment variables for Python encoding.

# Replace 'your_path' with the actual paths to your silver and gold databases.
SILVER_DB_PATH=your_path
GOLD_DB_PATH=your_path

# Set environment variables for Python encoding to ensure proper handling of UTF-8 characters.
PYTHONUTF8=1
PYTHONIOENCODING=utf-8
